<style type="text/css">
body {
	padding-top: 51px;
}
</style>

<div class="container">
    <div class="row" style="padding-top: -10px">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
			    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner">
			  	<div class="item active">
			      <img src="/assets/c1.jpg" alt="...">
			      <div class="carousel-caption">
			      </div>
			    </div>

			    <div class="item">
			      <img src="/assets/c2.jpg" alt="...">
			      <div class="carousel-caption">
			      </div>
			    </div>

			    <div class="item">
			      <img src="/assets/c3.jpg" alt="...">
			      <div class="carousel-caption">
			      </div>
			    </div>

			    <div class="item">
			      <img src="/assets/c4.jpg" alt="...">
			      <div class="carousel-caption">
			      </div>
			    </div>

			    <div class="item">
			      <img src="/assets/c5.jpg" alt="...">
			      <div class="carousel-caption">
			      </div>
			    </div>
			  </div>

			  <!-- Controls -->
			  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
			    <span class="glyphicon glyphicon-chevron-left"></span>
			  </a>
			  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
			    <span class="glyphicon glyphicon-chevron-right"></span>
			  </a>
			</div>
	</div>
</div> <br>

<!-- radio: 2,325439 -->
<div class="page-header">
	<h1>Projects</h1>
</div>
<div class="container marketing"
 <!-- Three columns of text below the carousel -->
      <div class="row">
      	<% @projects.each do |project| %>
	        <div class="col-md-4">
    			<%= link_to (image_tag project.image_url(:thumb), size: "540x140", alt: "Generic placeholder image", style: "margin-left: 120px;"), welcome_projects_path %>
    			<h2 style="margin-left: 120px;"><span class="text-muted"><%= project.name %></span></h2>
	          	<p><%= raw(project.description) %></p>
	        </div><!-- /.col-lg-4 -->
        <% end %>
      </div><!-- /.row -->
</div>
