<style type="text/css">
body {
  padding-top: 70px;
}
</style>


<div class="row">
  <% @partners.each do |partner| %>
    <div class="col-sm-6 col-md-12">
      <div class="thumbnail">
        <img src="/assets/onhands.png" alt="onhands">
        <div class="caption">
          <h3>OnHands</h3>
          <p><span class="text-muted"><%= raw(partner.description) %><span class="text-muted"></p>
          <p><%= link_to "WebSite!", partner.url, class: "btn btn-primary" %></p>
        </div>
      </div>
    </div>
  <%end %>
</div>