<div class="page-header">
  <h2>Partners</h2>
</div>

<div class="row">
  <% @partners.each do |partner| %>
    <div class="col-md-12">
      <center>
        <%= image_tag partner.image, alt: "Generic placeholder image", class: "img-rounded" %>
      </center>
      <p class="lead"><span class="text-muted"> <%= raw(partner.description) %></span></p>
      <p><%= link_to "WebSite!", partner.url, class: "btn btn-primary" %></p>
      <hr>
   </div>
  <%end %>
</div>