<div class="page-header">
  <h2>Projects</h2>
</div>

<div class="row featurette">
  <% @projects.each do |project| %>
   <div class="col-md-12">
      <center>
        <%= image_tag project.image, alt: "Generic placeholder image", class: "img-rounded" %>
      </center>
      <p class="lead"><span class="text-muted"> <%= raw(project.description) %></span></p>
      <p><%= link_to "WebSite!", project.url, class: "btn btn-primary" %></p>
      <hr>
   </div>
   <% end %>
 </div> <!-- end row -->

