/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.Jcrop.min.css
 *= require twitter/bootstrap
 *= require font-awesome
 *= require summernote
 *= require bootstrap-datepicker
 *= require_tree .
 *= require_self
 */

body {
  padding-top: 70px;
}

 .mudaTexto {
  font-family: 'Lobster',cursive;
}

.mudaCorIcones{
    color: #000011;
    text-decoration: none;

}

div a:hover{
  text-decoration: none;
  color: #000011;
}

#margemParabaixo{
  margin-bottom: 25px;  
}

#margemParaEsquerda{
  margin-left: 5px;
  margin-right: -30px;  
}

#espacosParaAmbosOsLados{
  padding-left: 55px;
  padding-right: 55px;
  
}

#quadroCursosUsers{
  background: #f7f7f7;
  color: #000000;
  min-height: 20px;
  text-align: center;
  margin-bottom: 10px;
  margin-right: 0px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  padding-bottom: -555px;
}

#tabulacao{
  padding-left: 2px;
}

.pog p{
  overflow:hidden;
  word-wrap: break-word;
}

.pogPular{
  overflow:hidden;
  word-wrap: break-word; 
}